# CHAT_ID="-450180203" # это прод
# CHAT_ID="-1003793385638" # это новый прод
CHAT_ID="-5200931693" # это тестовый

# TG_API_KEY="8528953684:AAGReTa_2Lpn50KVYSNWdnR14il7Jqq6TbY" # это прод
TG_API_KEY="8521522691:AAEtUzCMw50EQTaDkHppd4snWn_enwINemk" # это тестовый

OPENAI_API_KEY="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"
